body {
  font-family: "Rockstar", sans-serif;
  text-align: center;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #ffffff;
  position: relative;
  overflow: hidden;
}

/* to apply blur only to background */
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/assets/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(0);
  opacity: 1;
  transition: filter 1s ease, opacity 1s ease;
  z-index: -1;
}

body.alt-background::before {
  background-image: url("../assets/ecc2124116aa5a0ee1bc466c7b69dd8a.gif");
}

.blur-in::before {
  filter: blur(0);
  opacity: 1;
}

.blur-out::before {
  filter: blur(20px);
  opacity: 0.7;
}

h1 {
  margin-bottom: 20px;
}

Lato .deck-section {
  margin: 20px 0;
  padding-bottom: 20px;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}

.deck-section ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  gap: 20px;
}

.container {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.bottom-center {
  text-align: center;
  padding: 10px;
  color: rgb(255, 255, 255);
}

#result {
  font-size: 1.2em;
  margin-top: 20px;
  font-weight: bold;
}

#chosen-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px;
}

#p1-card,
#p2-card {
  width: 150px;
  height: 210px;
  border-radius: 10px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.img {
  width: 30%;
  height: auto;
}
h2 {
  margin-bottom: 20px;
}

.card {
  width: 150px;
  height: 210px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.cool-button {
  padding: 14px 28px;
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  text-align: center;
  background: linear-gradient(145deg, #e0e0e0, #cfcfcf);
  border: none;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
  display: block;
  margin-top: 20px;
  margin: 20px auto;
}

.cool-button:hover {
  background: linear-gradient(145deg, #cfcfcf, #bdbdbd);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.cool-button:active {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(1px);
}

.hidden {
  display: none;
}
